body{
    font-family: arial, helvetica, sans-serif;
    background:goldenrod;
}
#tabel-hero{
    border-collapse: collapse;
}

.link {
    color:black;
    text-decoration: underline;
}
#tabel-hero {
    font-size: 32px;
}