body{
    font-family: Arial, Helvetica, sans-serif;
    background : blue;
}
#table-hero {
    border-collapse: collapse;
    background-image: url(background.jpg);
    background-size: 20%;
    background-repeat: no-repeat;

    border-width: 1px;
    border-style: solid;
    border-color: white;
}


.link {
    color:black;
    text-decoration: underline;
}
.center-table {
    margin: 0 auto;
}