body {
    background-color: burlywood;
}
.wrapper {

}
.container {
    width: 1250px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #bdc3c7;
}
.sidebar {
    width: 400px;
    height: 550px;
    float: left;
}
.content {
    width: 800px;
    float:right ;
}
.clear {
    clear: both;
}
#logo {
    float: left;
    width: 200px;
    height: auto;
    padding: 20px;
}
#logo img {
    max-width: 250px;
    height: auto;
}
#menu {
    padding-top: 60px;
    padding-bottom: 60px;
    float: right;
    width: 960px;
}
#menu li {
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
#menu li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #34495e;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.blog-content {
    float: right;
    max-width: 380px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.blog-content img {
    width: 300px;
    height: 180px;
    object-fit: cover;
}
.recent-article {
    padding-left: 10px;
    padding-right: 100px;
}
.recent-article ul {
    padding:0;
    margin: 0;
    list-style: none;
}